<header class="header">
    <div class="header__logo">
        <img src="./images/Pawfect.png" alt="Pawvaro Logo" class="header__logo-image" />
        <span class="header__logo-text">Pawvaro</span>
    </div>
    <input type="checkbox" id="menu-toggle" class="header__menu-toggle" />
    <label for="menu-toggle" class="header__menu-icon">☰</label>

    <nav class="header__nav">
        <ul class="header__nav-list">
            <li class="header__nav-item"><a href="./index.html" class="header__nav-link">Home</a></li>

            <li class="header__nav-item">
                <a href="#" class="header__nav-link">Dogs ▾</a>
                <ul class="header__dropdown">
                    <li class="header__dropdown-item">
                        <a href="https://www.amazon.com/b?ie=UTF8&node=12474252011" class="header__dropdown-link">Food &
                            Treats</a>
                    </li>
                    <li class="header__dropdown-item">
                        <a href="https://www.amazon.com/dog-toys/s?k=dog+toys" class="header__dropdown-link">Toys</a>
                    </li>
                    <li class="header__dropdown-item">
                        <a href="https://www.amazon.com/s?k=beds+and+furniture+for+dogs&crid=77KL7IE9W44&sprefix=beds+and+furniture+for+do%2Caps%2C269&ref=nb_sb_noss_2"
                            class="header__dropdown-link">Beds
                            & Furniture</a>
                    </li>
                    <li class="header__dropdown-item">
                        <a href="https://www.amazon.com/s?k=grooming+dogs&crid=3LM61G3YEMYOO&sprefix=grooming+%2Caps%2C387&ref=nb_sb_noss_2"
                            class="header__dropdown-link">Grooming</a>
                    </li>
                    <li class="header__dropdown-item">
                        <a href="https://www.amazon.com/s?k=Health+and+supplements+dog&crid=A6YM9PLAF261&sprefix=health+and+supplements+do%2Caps%2C282&ref=nb_sb_noss_2"
                            class="header__dropdown-link">Health
                            & Supplements</a>
                    </li>
                    <li class="header__dropdown-item">
                        <a href="https://www.amazon.com/s?k=acessories+dogs&crid=14BXK4TO3GRHK&sprefix=acessories+dog%2Caps%2C276&ref=nb_sb_noss_2"
                            class="header__dropdown-link">Accessories</a>
                    </li>
                </ul>
            </li>

            <li class="header__nav-item">
                <a href="#" class="header__nav-link">Cats ▾</a>
                <ul class="header__dropdown">
                    <li class="header__dropdown-item">
                        <a href="https://www.amazon.com/s?k=food+and+treats+cat&rh=n%3A12474252011&ref=nb_sb_noss"
                            class="header__dropdown-link">Food
                            & Treats</a>
                    </li>
                    <li class="header__dropdown-item">
                        <a href="https://www.amazon.com/s?k=litter+and+box&crid=SREH448SGYIS&sprefix=litter+and+bo%2Caps%2C298&ref=nb_sb_noss_2"
                            class="header__dropdown-link">Litter
                            & Boxes</a>
                    </li>
                    <li class="header__dropdown-item">
                        <a href="https://www.amazon.com/s?k=toys+cat&crid=2V9SP2OPYJ1F0&sprefix=toys+ca%2Caps%2C280&ref=nb_sb_noss_1"
                            class="header__dropdown-link">Toys</a>
                    </li>
                    <li class="header__dropdown-item">
                        <a href="https://www.amazon.com/s?k=scratting+post&dc&crid=1TFLOJI4UD953&sprefix=scratting+pos%2Caps%2C287&ref=a9_asc_1"
                            class="header__dropdown-link">Scratching
                            Posts</a>
                    </li>
                    <li class="header__dropdown-item">
                        <a href="https://www.amazon.com/s?k=beds+and+hidding+cats&dc&crid=2N4NWXONE5ITM&sprefix=beds+and+hidding+ca%2Caps%2C280&ref=a9_asc_1"
                            class="header__dropdown-link">Beds
                            & Hiding Spots</a>
                    </li>
                    <li class="header__dropdown-item">
                        <a href="https://www.amazon.com/s?k=Health+and+grooming+cats&crid=1273LMCR88BR3&sprefix=health+and+grooming+cat%2Caps%2C284&ref=nb_sb_noss_2"
                            class="header__dropdown-link">Health
                            & Grooming</a>
                    </li>
                </ul>
            </li>

            <li class="header__nav-item"><a href="deals.html" class="header__nav-link">Deals</a></li>
            <li class="header__nav-item"><a href="blog.html" class="header__nav-link">Blog</a></li>
            <li class="header__nav-item"><a href="about.html" class="header__nav-link">About</a></li>
            <li class="header__nav-item"><a href="contact.html" class="header__nav-link">Contact</a></li>
        </ul>
    </nav>
</header>